body {
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url("./imagens/índice2.jpeg");
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: black;
}

.header-title {
    font-size: 36px;
}

.nav {
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.nav-item {
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section-title {
    color: #0E5E;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.section-text {
    color: black;
    font-size: 20px;
}

.section-text1 {
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

ul,
li {
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}
#list {
    text-align: center;
    margin-bottom: 10px;
}

#lista {
    list-style-type: square;
    margin-bottom: 15px;
}

footer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: black;
}

.footer-text {
    font-size: 14px;
}
